<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nazmul.studentManagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.nazmul.studentManagement.StudentRegistrationActivity" />
        <activity android:name="com.example.nazmul.studentManagement.StartingActivity" />
        <activity android:name="com.example.nazmul.studentManagement.ListActivity" />
        <activity android:name="com.example.nazmul.studentManagement.ShowInformation" />
        <activity android:name="com.example.nazmul.studentManagement.UserRegistrationActivity" />
        <activity android:name="com.example.nazmul.studentManagement.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.nazmul.studentManagement.PasswordRecoveryActivity" />
        <activity android:name="com.example.nazmul.studentManagement.SearchActivity"></activity>
    </application>

</manifest>